.messages {
    padding: 5% 0;
    overflow: auto;
    flex: auto;
    
  }


.context_n{
  position: absolute;
  opacity: inherit;
  z-index: inherit;
  display: none;
  overflow: hidden;
  top: "10px"
}